{{>main/header}}
<h1>Développeur Web <label class="ui blue left pointing label">{{countDevelopers}}</label></h1>
<form class="ui form">
    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input formmethod="post" type="submit" formaction="developer/add" value="+">
</form>
<form method="post" >
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Developpeur</th>
            <th>Stories</th>
            <th>Actions</th>
        </tr>
        <tbody>
        {{#developer}}
        <tr>
            <td>{{firstname}} {{lastname}}</td>
            <td>
                {{#stories}}
                <div class="ui label">
                    {{name}}
                    <button formmethod="get" formaction="/story/{{id}}/giveup"><i class="delete icon"></i></button>
                </div>
                {{/stories}}
            </td>
            <td>
                <input type="text" name="name" placeholder="story name">
                <input type="submit" class="ui button green" formaction="/developer/{{id}}/story" value="Ajouter US & Affecter">
                <a href="/developer/{{id}}/delete" class="ui button black">Quitter le projet</a>
            </td>
        </tr>
        {{/developer}}
        {{^developer}}
        <tr>
            <td colspan="2">Il n'y a pas de développeurs dans la base de données.</td>
        </tr>
        {{/developer}}
        </tbody>
    </table>
</form>
<h1>User Stories à répartir <label class="ui red left pointing label">{{countStories}}</label> </h1>
<form>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Story</th>
            <th>Actions</th>
        </tr>
        <tbody>
        {{#story}}
        <tr>
            <td>{{name}}</td>
            <td>
                <select class="ui selection dropdown" name="developerID">
                    {{#AllDevelopers}}
                    <option value="{{id}}">{{firstname}} {{lastname}}</option>
                    {{/AllDevelopers}}
                </select>
                <input formmethod="post" formaction="/story/{{id}}/action/affect" class="ui button grey" value="+" type="submit">
                <input formmethod="post" formaction="/story/{{id}}/action/remove" class="ui button red" value="-" type="submit">
            </td>
        </tr>
        {{/story}}
        {{^story}}
        <tr>
            <td colspan="2">Il n'y a pas d'US à attribuer dans la base de données</td>
        </tr>
        {{/story}}
        </tbody>
    </table>
</form>
{{>main/footer}}