{{>main/header}}
<h1>Développeur Web <label class="ui blue left pointing label count-developers">{{countDevelopers}}</label></h1>
<form method="post" action="/developer/add" class="ui form">
    <div style="display: inline-block;">
        <input type="text" name="firstname" placeholder="firstname">
        <input type="text" name="lastname" placeholder="lastname">
        <button type="submit" value="add">
            <i class="plus icon"></i>
        </button>
    </div>
</form>
<form method="post" >
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Developpeur</th>
            <th>Stories</th>
            <th>Actions</th>
        </tr>
        <tbody>
        {{#developer}}
        <tr>
            <td>{{firstname}} {{lastname}}</td>
            <td>
                {{#stories}}
                <div class="ui label dev-story">
                    {{name}}
                    <button formmethod="get" formaction="/story/{{id}}/giveup"><i class="delete icon giveup-story"></i></button>
                </div>
                {{/stories}}
            </td>
            <td>
                <input type="text" name="name" placeholder="story name">
                <button formaction="/developer/{{id}}/story" name="story-action" value="add" class="ui button green">Ajouter US & Affecter</button>
                <button formmethod="get" formaction="/developer/{{id}}/delete" class="ui button black delete-developer">Quitter le projet</button>
            </td>
        </tr>
        {{/developer}}
        {{^developer}}
        <tr>
            <td colspan="2">Il n'y a pas de développeurs dans la base de données.</td>
        </tr>
        {{/developer}}
        </tbody>
    </table>
</form>
<h1>User Stories à répartir <label class="ui red left pointing label count-stories">{{countStories}}</label> </h1>
<form method="post" >
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Story</th>
            <th>Actions</th>
        </tr>
        <tbody>
        {{#story}}
        <tr>
            <td>{{name}}</td>
            <td>
                <select class="ui selection dropdown" name="developerID">
                    {{#AllDevelopers}}
                    <option value="{{id}}">{{firstname}} {{lastname}}</option>
                    {{/AllDevelopers}}
                </select>
                <button formaction="/story/{{id}}/action" name="story-action" class="ui icon button" value="affect" type="submit">
                    <i class="plus icon"></i>
                </button>
                <button formaction="/story/{{id}}/action" name="story-action" class="ui button red" value="remove" type="submit">
                    <i class="remove icon"></i>
                </button>
            </td>
        </tr>
        {{/story}}
        {{^story}}
        <tr>
            <td colspan="2">Il n'y a pas d'US à attribuer dans la base de données</td>
        </tr>
        {{/story}}
        </tbody>
    </table>
</form>
{{>main/footer}}