{{> /main/header }}

<div class="ui middle grid">
  <div class="column">
    <div class="ui grey inverted attached segment">
      <h2 class="ui image header">
        <img src="/images/ladybug.png" class="image">
        <div class="content">
          Création de compte - BTP
        </div>
      </h2>
    </div>
    <form class="ui attached large form" method="post" action="/register/newUser">
      <div class="ui stacked segment">
        <div class="field">
          <la>Nom d'utilisateur</la>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Nom d'utilisateur">
          </div>
        </div>
        <div class="field">
          <la>Adresse email</la>
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="mail" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <la>Mot de passe</la>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password1" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <la>Confirmer votre mot de passe</la>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password2" placeholder="Password confirmation">
          </div>
        </div>
        <button type="submit" class="ui inverted purple fluid large submit button">Créer le compte</button>
      </div>

      <div class="ui error message"></div>
    </form>

    <div class="ui message">
      NDéja un Compte ? <a href="login">Te connecter</a>
    </div>
    <a href="https://www.flaticon.com/fr/icones-gratuites/sidentifier" title="sidentifier icônes">icônes créées par ultimatearm - Flaticon</a>
  </div>
</div>
{{> /main/footer }}