{{>main/header}}
<form method="get" action="updateAction">
    {{#organisation}}
    <label>Name</label>
    Name : {{name}}
    <input type="text" name="name" value="{{name}}">
    <label>Domain</label>
    <input type="text" name="domain" value="{{domain}}">
    <label>Aliases</label>
    <input type="text" name="alias" value="{{alias}}">
    <input type="hidden" name="id" value="{{id}}">
    {{/organisation}}
    <button type="submit" class="ui button green">Submit</button>
</form>
{{>main/footer}}