{{> main/header }}
<h1 class="ui header blue">{{root}}</h1>
<h2 class="ui header inverted">Domaines
    <span class="ui left pointing label">
        {{childrenSize}}
    </span>
</h2>
<div class="ui link cards">
{{#domains}}
    <div class="ui card">
        <div class="content">
            <div class="header">{{name}}</div>
            <div class="meta">{{providers.size}} providers</div>
            <div class="description">
                {{description}}
                <br>
                <i class="bug icon blue"></i>

                    {{getChildComplaintsCount}} plaintes

                <span class="ui left pointing label">
                    {{complaints.size}}
                </span>
            </div>

        </div>
            <a href="/domain/{{name}}" class="extra content center aligned">Ouvrir
                <i class="open door icon"></i>
            </a>
    </div>
{{/domains}}
</div>
{{^domains}}
    <div class="ui message">
        <div class="header">
            Aucun domaine
        </div>
        <p>Il n'y a aucun domaine pour le moment.</p>
    </div>
{{/domains}}


{{> main/footer }}