{{> main/header }}
<h1 class="ui header blue">{{root}}</h1>
<h2>Domaines
    <span class="ui label">
        {{childrenSize}}
    </span>
</h2>
<div class="ui link cards">
{{#domains}}
    <div class="ui card">
        <div class="content">
            <div class="header">{{name}}</div>
            <div class="meta">{{providers.size}} providers</div>
            <div class="description">
                {{description}}
                <br>
                <i class="bug icon"></i>
                {{complaints.size}} plaintes
            </div>

        </div>
            <a href="/domain/{{name}}" class="extra content center aligned">Ouvrir
                <i class="open door icon"></i>
            </a>
    </div>
{{/domains}}
</div>
{{^domains}}
    <div class="ui message">
        <div class="header">
            Aucun domaine
        </div>
        <p>Il n'y a aucun domaine pour le moment.</p>
    </div>
{{/domains}}


{{> main/footer }}