{{> main/header }}
<form class="" method="post" action="/complaints/{{name}}/new">
    <div class="ui form">
        <div class="field">
            <label>Domain</label>
            <div class="ui left icon input">
                <i class="globe icon"></i>
                <input type="text" name="domain" value="{{name}}" disabled>
            </div>
        </div>
        <div class="field">
            <label>Title</label>
            <div class="ui left icon input">
                <i class="heading icon"></i>
                <input type="text" name="title" placeholder="Title">
            </div>
        </div>
        <div class="field">
            <label>Description</label>
            <div class="ui left icon input">
                <i class="comment icon"></i>
                <input type="text" name="description" placeholder="Description">
            </div>
        </div>
        <button type="submit" class="ui fluid large submit button">Ajouter</button>
    </div>
</form>
{{> main/footer }}